@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 2rem;
}

.navbar__element {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    text-decoration: none;
    font-size: 2rem;
    padding-right: 4rem;
    color: #d5d5d5;
    transition: 0.3s;
}

.navbar__vr {
    width: 3px;
    height: 1.4rem;
    background-color: #d5d5d5;
    margin: 0.1rem;
    align-self: center;
    margin-left: 2rem;
    margin-right: 2rem;
}
    
.navbar__element:hover {
    color: rgb(15, 82, 82);}


/* colors: rgb(15, 82, 82), #d5d5d5, #0c0c0c0;