@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-size: 10px;
}

.container-projects {
    margin-top: 10rem;
    display: flex;
    margin: 1rem;
    flex-flow: nowrap;
    justify-content: center;
    align-content: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    display:block;
    width: 35rem;
    height: 20rem;
    border: solid 1px;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    flex-flow: wrap;
    padding: 2rem;
    transition: 1s;
    margin: 3rem;
}

.card h1 { 
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    opacity: 0;
    transition: 1s ease;
}

.card h2 {
    font-weight: 200;
    text-align: center;
    opacity: 0;
    transition: 1s ease;
}

.card img {
    max-width: 100%;
    height: auto;
    position:relative;
    top: -20rem;
    transition:1s ;
}

.card:hover {
    background-color: rgb(5, 31, 49);
    transform: scale(1.1);
}

.card:hover h1 {
    opacity: 1;
}

.card:hover h2 {
    opacity: 1;
}

.card:hover img {
    opacity: 0.15;
}


.card-noimg {
    display:block;
    width: 35rem;
    height: 20rem;
    border: solid 1px;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    flex-flow: wrap;
    padding: 2rem;
    transition: 1s;
    margin: 3rem;
}

.card-noimg h1 { 
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    transition: 1s ease;
}

.card-noimg h2 {
    font-weight: 200;
    text-align: center;
    transition: 1s ease;
}

.card-noimg:hover {
    background-color: rgb(49, 109, 151);
    transform: scale(1.1);
}