@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    background-color: #101010;
    color:#d5d5d5;
}

body {
    overflow-x: hidden;
}

/* * Header  */

.usr-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.usr-head h1 {
    font-size: 4rem;
    display:block;
    font-weight: 400;
}

.usr-head h3 {
    font-size: 2rem;
    text-align: center;
    font-weight: 200;
}

