.mainBody {
  margin: 0;
  background: linear-gradient(to bottom, #161616, #00001b);
  
  background: radial-gradient(circle at center, rgba(0, 0, 27, 1), rgba(22, 22, 22, 0.9)),
  radial-gradient(circle at center, rgba(22, 22, 22, 0.5), rgba(22, 22, 22, 0));
  padding-right: 25rem;
  padding-left: 25rem;
}

@media (max-width: 320px) {
  .mainBody {
    padding-right: 0.4167rem;
    padding-left: 0.4167rem;
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  .mainBody {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  .mainBody {
    padding-right: 0.78125rem;
    padding-left: 0.78125rem;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .mainBody {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .mainBody {
    padding-right: 1.3333rem;
    padding-left: 1.3333rem;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .mainBody {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

@media (min-width: 1201px) and (max-width: 1440px) {
  .mainBody {
    padding-right: 15rem;
    padding-left: 15rem;
  }
}

@media (min-width: 1441px) {
  .mainBody {
    padding-right: 20rem;
    padding-left: 20rem;
  }

  @media (min-width: 1601px) {
    .mainBody {
      padding-right: 25rem;
      padding-left: 25rem;
    }
  }

}
