.navbar__main {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar__body {
    margin-top: 1.5rem;
    padding: 1.2rem;
    border-radius: 5px;
}

.navbarLink__main {
    margin: 0.5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;

    font-size: 1.125rem;

    text-decoration: none;

    color: #fff;
}

.navbarLink__main:hover {
    color:#d1d1d1
}