.projects__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content: center;

    margin-top: 0px;
}

.projects__title {
    display: flex;

    font-size: 1.825rem;
    color: #fff;
    justify-content: flex-start;
    align-items: center;

    font-weight: 500;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.projects__title__highlight {
    color: gold;
}

.card__title__icon {
    margin-right: 1rem;
}

.projects__card {
    grid-column: 1/2;
    grid-row: 1/2;

    flex-direction: column;
}

.card__title {
    margin-bottom: 0px;
}

.card__subtitle {
    margin: 0px;

    font-weight: 300;
}

.pcard__button {
    display: flex;
    color: #fff;

    margin-top: 1rem;
    padding: 0.5rem;

    font-size: 1.125rem;
    text-decoration: none;
    align-items: center;
    align-self: flex-start;
    font-weight: 500;

    border-radius: 5px;
    border: 2px solid #d5d5d5;
    background: linear-gradient(to right, #141414, #0000ff );
}

.pcard__button:hover {
    color: #acacac;
    border-color: #acacac;
}

.pcard__button__icon {
    padding-left: 0.6rem;
    padding-top: 0.4rem;
}